#projects-section{
    padding: 72px 120px 144px;
    gap: 56px;
}

#projects-galery{
    width: 1024px;
    justify-content: center;
    gap: 24px;

}

.project{
    background-color: var(--gray-300);
    padding: 12px;
    border-radius: 12px;

    &:hover{
        border: 1px solid var(--gray-400);
    }

    a{
        gap: 20px;
    }

    img{
        border-radius: 8px;
        object-fit: cover;
        width: 100%;
    }
}
